services:
    worker:
        build:
            context: ./worker
            dockerfile: Dockerfile
        container_name: ${COMPOSE_PROJECT_NAME}-worker
        restart: unless-stopped
        volumes:
            - ../:/var/www
            - ./worker/supervisord.conf:/etc/supervisor/supervisord.conf
            - ./worker/conf.d/:/etc/supervisor/conf.d/
        depends_on:
            - redis
            - chrome
        networks:
            - app-network

    redis:
        container_name: ${COMPOSE_PROJECT_NAME}-redis
        image: 'redis:7.4.0-alpine'
        ports:
            - "${REDIS_PORT:-6379}:6379"
        networks:
            - app-network

    chrome:
        image: selenium/standalone-chromium:latest
        container_name: ${COMPOSE_PROJECT_NAME}-chrome
        privileged: true
        shm_size: 2g
        ports:
            - "4444"
        volumes:
            - ../var:/var/www/var
        environment:
            - SE_NODE_MAX_SESSIONS=1
            - SE_NODE_OVERRIDE_MAX_SESSIONS=true
            - SE_NODE_SESSION_TIMEOUT=300
            - SE_NODE_GRID_URL=http://localhost:4444
            - SE_NODE_DETECT_DRIVERS=false
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
